<div
  class="bg-gradient row justify-center rounded-b-[20px] rounded-t-[20px] px-[30px] py-14 md:rounded-b-[80px] lg:py-16">
  <div class="lg:col-11">
    <div class="row">
      <div class="lg:col-7">
        <h2 class="h1 text-white">Helping teams in the world with focus</h2>
        <a class="btn btn-white mt-8" href="#">Download The Theme</a>
      </div>
      <div class="mt-8 lg:col-5 lg:mt-0">
        <p class="mb-4 text-white">
          Consectetur adipiscing elit. Morbi egestas Werat viverra id et
          aliquet. vulputate egestas sollicitudin elit. Delectus aperiam velit
          nisi impedit molestiae sit? Excepturi similique ad deleniti cum
          sollicitudin.
        </p>
        <p class="text-white">
          Delectus aperiam velit nisi sit amet consectetur adipisicing elit.
          Delectus aperiam velit nisi impedit molestiae sit? Excepturi similique
          ad deleniti cum.
        </p>
      </div>
    </div>
  </div>
</div>
