// section style
.section {
  @apply py-16;
}

// Preloader
.preloader {
  @apply fixed bottom-0 left-0 z-50 h-screen w-screen overflow-hidden bg-white transition-colors duration-300;
}

// Container
.container {
  @apply mx-auto w-full pl-[var(--gutter-x,calc(1.5rem_/_2))] pr-[var(--gutter-x,calc(1.5rem_/_2))];
}
.container {
  --gutter-x: 1rem;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply -ml-2 -mt-2;

  li {
    @apply m-1 inline-block leading-none;

    a {
      @apply inline-flex h-9 w-9 items-center justify-center rounded-full bg-white text-center transition-colors duration-200 hover:bg-primary;

      svg {
        @apply m-auto h-[14px];
      }

      path {
        @apply transition-all duration-200;
      }

      &:hover path {
        @apply fill-white;
      }
    }
  }
}

// Breadcrumb
.breadcrumb {
  @apply mx-auto mb-0 inline-flex h-8 w-fit items-center justify-center gap-4 space-x-2 rounded-3xl bg-theme-light/40 p-5;

  &-list-item {
    @apply relative align-middle capitalize text-dark;

    &:not(:first-child)::before {
      @apply absolute left-[-12px] top-1/2 h-[60%] w-[2px] -translate-y-1/2 rotate-12 bg-theme-dark/70 content-[""];
    }

    &:not(:last-child) a:hover {
      @apply text-primary/70;
    }

    a,
    span {
      @apply align-middle transition-colors duration-300;
    }

    &:first-child {
      @apply relative pl-7 align-middle font-normal text-primary after:content-[""];

      &::after {
        @apply absolute left-0 top-[48%] h-[20px] w-[20px] -translate-y-1/2 bg-center bg-no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_1526)'%3E%3Cpath d='M13.1769 15.0586H10.3533V9.41154H5.64744V15.0586H2.82391V6.58801H1.88274V15.9998H14.118V6.58801H13.1769V15.0586ZM6.58862 15.0586V10.3527H9.41215V15.0586H6.58862ZM15.8084 6.09201L15.2512 6.85154L8.00038 1.52448L0.749559 6.84966L0.192383 6.09107L8.00038 0.357422L15.8084 6.09201Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_1526'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &:last-child a {
      @apply pointer-events-none cursor-auto select-none opacity-70;
    }
  }
}

// tabcomponent
.tab-nav {
  @apply m-0 flex list-none border-b border-solid border-b-border p-0;
}

.tab-nav-item {
  @apply cursor-pointer px-4 py-2 opacity-80;
}

.tab-nav-item.active {
  @apply border-b-2 border-solid border-b-border opacity-100;
}

.tab-content .tab-content-panel {
  @apply hidden px-2 py-4;
}

.tab-content .tab-content-panel.active {
  @apply block;
}

// accordion
.accordion {
  @apply bg-white;
}

.accordion-header {
  @apply flex cursor-pointer items-center justify-between p-4 text-[1.6rem];
}

.accordion-icon {
  @apply h-[0.78em] w-[0.78em] rotate-0 transition-transform duration-[0.2s] ease-[ease];
}

.accordion-content {
  @apply max-h-0 overflow-hidden transition-all duration-300 ease-slow-ease-in-out;
}

.accordion.active .accordion-icon {
  @apply rotate-180;
}

.accordion.active .accordion-content {
  @apply max-h-screen;
}

// form style
.form-control,
.form-select {
  @apply w-full rounded-lg border-border py-4 pl-4 text-dark placeholder:text-theme-dark/30 focus:border-theme-dark/50 focus:ring-transparent;
}

.form-label {
  @apply mb-2 block font-secondary text-dark/90;
}

select:invalid {
  @apply text-theme-dark/30;
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.9em] prose-headings:mt-[.5em] prose-headings:font-bold prose-headings:text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-h4:mb-5;
  @apply prose-h5:mb-2.5;
  @apply prose-hr:border-border;
  @apply prose-p:text-base prose-p:text-text;
  @apply prose-blockquote:my-0 prose-blockquote:border-0 prose-blockquote:pl-0 prose-blockquote:not-italic;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-none;
  @apply prose-strong:text-dark;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-li:text-text prose-li:marker:text-dark;
  @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:px-4 prose-th:py-4;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;

  h5 + p {
    @apply mt-2.5;
  }

  p + h5 {
    @apply mt-5;
  }

  p + h4,
  ul + h4 {
    @apply mt-10;
  }

  h4 + p,
  h4 + ul {
    @apply mt-5;
  }
}

.key-feature-grid {
  p {
    @apply mt-3 text-[15px]/normal;
  }
}

//video
.video {
  @apply relative overflow-hidden rounded-2xl;

  &-thumbnail {
    @apply relative;
  }

  &-play-btn {
    @apply absolute left-1/2 top-1/2 z-10 flex h-[78px] w-[78px] -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full bg-primary;
    animation: shadow-pulse 1.5s infinite;

    &::after {
      @apply absolute left-0 top-0 h-full w-full rounded-full content-[''];
      animation: shadow-pulse-2 1.4s infinite;
    }
  }

  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(254, 96, 25, 0.7);
    }
    70% {
      box-shadow: 0 0 0 35px rgba(254, 96, 25, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(254, 96, 25, 0);
    }
  }

  @keyframes shadow-pulse-2 {
    0% {
      box-shadow: 0 0 0 0px rgba(254, 96, 25, 0.7);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(254, 96, 25, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(254, 96, 25, 0);
    }
  }
}

//review-carousel
.review {
  @apply my-16 rounded-xl bg-white px-8 pb-9 pt-6 text-center shadow;

  &-author-avatar {
    @apply mx-auto -mt-12 mb-3 h-[90px] w-[90px] -translate-y-5 rounded-full p-0.5;
  }
}

//pagination style
.reviews-carousel {
  .swiper-pagination-bullet {
    @apply h-3.5 w-3.5 bg-theme-dark/40;

    &-active {
      @apply bg-primary;
    }
  }
}

//services
.services {
  .tab-nav {
    @apply inline-block;
  }

  .tab-nav-item {
    @apply relative z-10 mb-4 flex rounded py-1 text-dark opacity-100;
    @apply before:absolute before:left-0 before:top-1/2 before:-z-10 before:h-[140%] before:w-full before:-translate-y-1/2 before:rounded before:content-[""];
  }
  .tab-nav-item.active {
    @apply border-b-0 before:bg-primary/10;
  }
}

//footer
.footer {
  h6 {
    @apply mb-4 font-primary font-semibold lg:mb-6;
  }

  li > a {
    @apply leading-8 transition-colors duration-300 hover:text-primary hover:underline;
  }
  .footer-copyright {
    a {
      @apply text-primary underline hover:no-underline;
    }
  }
}

//gradient-number
.gradient-number {
  span {
    @apply bg-clip-text font-primary text-4xl font-bold leading-none;
    -webkit-text-fill-color: transparent;
  }
}

//card
.card {
  @apply relative h-full rounded-xl bg-white p-5 shadow-lg;

  &-img {
    @apply w-full;
  }

  &-tags {
    @apply absolute right-10 top-10 z-[1] mb-6;
  }

  &-content {
    @apply pt-6;
  }

  &-title {
    @apply mb-4 text-[19px];
  }

  &-footer {
    @apply border-t border-border pb-0 pt-6;
  }
}

//tag
.tag {
  @apply inline-block h-8 rounded-3xl border border-primary/20 bg-[#FAEBE1] px-3.5 py-2 text-sm leading-none text-primary transition-colors duration-300 hover:bg-primary hover:text-white;
}

//featured-posts
.featured-posts {
  .card {
    @apply items-center lg:flex;

    &-img {
      @apply max-h-[210px] w-full self-stretch rounded-md object-cover lg:max-h-full lg:max-w-[40%] xl:max-w-[235px];
    }

    &-title {
      @apply text-2xl;
    }

    &-content {
      @apply lg:py-6 lg:pl-5;
    }

    &-tags {
      @apply relative left-0 top-0;
    }

    &-footer {
      @apply border-t-0 pt-0;
    }
  }
}
.filter-list {
  @apply py-4;
}

.filter-btn {
  @apply m-3 rounded-3xl border border-theme-dark/20 text-dark;

  &-active,
  &.active {
    @apply border-white bg-white text-dark shadow-lg;
  }
}

//career-single
.career-single {
  &-content {
    h5 + p {
      @apply mt-4;
    }

    p + h5,
    ul + h5 {
      @apply mt-8;
    }
  }
}

//integration-single
.integrations-single {
  &-content {
    h4 + p,
    p + ul {
      @apply mt-6;
    }
    p + h4,
    ul + h4 {
      @apply mt-12;
    }

    ul {
      @apply list-disc pl-6 marker:text-dark;

      li {
        @apply mb-3;
      }
    }
  }
}

//faq
.panel {
  @apply relative border-b border-border py-4 pl-7 pr-4;

  .accordion-button {
    @apply py-2;
  }

  &-body {
    p + p {
      @apply mt-6;
    }
  }

  &-arrow {
    @apply absolute left-0 top-8 w-4 -rotate-90;

    &.panel-show {
      @apply rotate-0;
    }
  }

  &:last-child {
    @apply border-b-0;
  }
}

//changelog
.changelog {
  &-content {
    @apply relative;
    &::before {
      @apply absolute -top-[38px] left-0 h-[18px] w-[18px] rounded-full border-4 border-primary bg-body content-[''] lg:-left-[49px] lg:top-0;
    }

    ul {
      @apply list-disc pl-6 marker:text-dark;

      + .changelog-tag {
        @apply mt-6;
      }

      & > li {
        @apply mb-3;

        span {
          @apply text-primary;
        }
      }
    }
  }

  &-tag {
    @apply mb-5 inline-block h-5 rounded px-1 py-0.5 text-xs text-white;
  }
}

.text-container {
  @apply mx-auto lg:max-w-[412px];
}

.blockquote {
  blockquote {
    @apply relative;

    &::after,
    &::before {
      @apply absolute h-5 w-5 bg-[url('../images/icons/quote.svg')] bg-contain bg-no-repeat content-[''] lg:h-8 lg:w-8;
    }

    &::before {
      @apply -left-4 top-0 -translate-x-full;
    }

    &::after {
      @apply -right-4 bottom-0 translate-x-full rotate-180;
    }
  }
}

//comment form
.comment-form {
  input[type="text"],
  textarea {
    @apply w-full rounded-sm border border-border text-dark placeholder:text-[#999999] focus:outline-0;

    &:focus {
      box-shadow: none;
    }
  }
  input[type="text"] {
    @apply h-12;
  }
}

.auth-banner {
  @apply relative;

  .swiper-pagination-bullet {
    @apply h-[15px] w-[15px] border-2 border-white bg-transparent;

    &-active {
      @apply bg-white;
    }
  }
}

.faqs {
  .accordion-icon {
    @apply -rotate-90;
  }

  .accordion-content {
    p + p {
      @apply mt-6;
    }
  }
  .accordion.active {
    .accordion-icon {
      @apply rotate-0;
    }

    .accordion-content {
      @apply pb-6 pt-1;
    }
  }
}

.features-tab-penel {
  @apply hidden;

  &.active {
    @apply block;
  }
}

.features-tab-item {
  @apply cursor-pointer border-l border-[#999999] pl-6;

  h2 {
    @apply font-primary text-2xl font-semibold text-[#999999];
  }

  p {
    @apply hidden;
  }

  &.active {
    @apply border-black;
    h2 {
      @apply text-dark;
    }
    p {
      @apply block;
    }
  }
}

.filter-list {
  @apply flex flex-nowrap items-center overflow-auto;
  .filter-btn {
    @apply whitespace-nowrap;
  }
}
