b,
strong {
  @apply font-semibold;
}
code {
  @apply after:border-none;
}

.shadow {
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.02);

  &-sm {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  }

  &-md {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  }

  &-lg {
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.05);
  }
}

.bg-gradient-to-tl {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}

.bg-gradient {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}
